---
http_interactions:
- request:
    method: get
    uri: https://digital-forms-api-fake.fake.bip.va.gov/api/v1/rest/submissions/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 27 Aug 2007 17:15:36 GMT
    body:
      encoding: UTF-8
      string: '{
  "messages": [
    {
      "key": "bip.framework.not.authorized.exception",
      "severity": "ERROR",
      "status": 403,
      "text": "Access denied.",
      "timestamp": "2026-02-24T04:09:15.741Z"
    }
  ]
}'
  recorded_at: Tue, 13 May 2025 19:26:37 GMT
recorded_with: VCR 6.3.1
