---
http_interactions:
- request:
    method: post
    uri: "<ORACLE_HEALTH_OAUTH_URI>/tenants/<ORACLE_HEALTH_TENANT_ID>/protocols/oauth2/profiles/smart-v1/token"
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=system%2FPatient.read+system%2FPatient.write
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Basic realm="CernerCare"
      Cerner-Correlation-Id:
      - 435a3e68-1a52-4512-8126-c9eda0427b43
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_uri":"https://authorization.cerner.ehr.gov/errors/urn%3Acerner%3Aerror%3Aauthorization-server%3Aoauth2%3Atoken%3Ainvalid-authorization-header/instances/435a3e68-1a52-4512-8126-c9eda0427b43?client=unknown&tenant=00224df3-b096-4cdb-852c-cbc83c0d3b06"}'
  recorded_at: Tue, 04 Aug 2026 20:07:23 GMT
recorded_with: VCR 6.4.0
