---
http_interactions:
- request:
    method: post
    uri: "<SHAREPOINT_AUTHENTICATION_URL>/<SHAREPOINT_MSS_TENANT_ID>/oauth2/v2.0/token"
    body:
      encoding: UTF-8
      string: client_id=<SHAREPOINT_MSS_CLIENT_ID>&client_secret=<SHAREPOINT_MSS_CLIENT_SECRET>&grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Clientdata:
      - e|7000215||microsoftonline.com|none
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"AADSTS7000215: Invalid
        client secret provided. Ensure the secret being sent in the request is the
        client secret value, not the client secret ID, for a secret added to app ''<SHAREPOINT_MMS  _CLIENT_ID>''.
        Trace ID: 54a86626-32c7-420b-9494-054b6b000400 Correlation ID: b408fbeb-d77e-4b65-a066-f5ee9af60adc
        Timestamp: 2026-06-26 19:09:10Z","error_codes":[7000215],"timestamp":"2026-06-26
        19:09:10Z","trace_id":"54a86626-32c7-420b-9494-054b6b000400","correlation_id":"b408fbeb-d77e-4b65-a066-f5ee9af60adc","error_uri":"https://login.microsoftonline.com/error?code=7000215"}'
  recorded_at: Fri, 26 Jun 2026 19:09:10 GMT
recorded_with: VCR 6.4.0
