---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vds/info/v1/sites/534/clinics
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "clinicIen": "1081",
            "name": "CHS NEUROSURGERY VARMA",
            "patientFriendlyName": "CHS NEUROSURGERY VARMA",
            "physicalLocation": "1ST FL SPECIALTY MODULE 2",
            "institutionId": "534",
            "primaryStopCode": "406",
            "primaryStopCodeName": "NEUROSURGERY"
          }
        ]
  recorded_at: Thu, 07 Jan 2021 21:09:58 GMT
recorded_with: VCR 6.0.0
