# @format
---
http_interactions:
  - request:
      method: post
      uri: "<MHV_UHD_SECURITY_HOST>/mhvapi/security/v1/login"
      body:
        encoding: UTF-8
        string: '{"appId":"test-app","appToken":"test-token","subject":"test-subject","userType":"test-user-type"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer test-access-token-12345
      body:
        encoding: UTF-8
        string: '{"access_token":"test-access-token-12345","token_type":"Bearer","expires_in":3600}'
    recorded_at: Mon, 25 Aug 2025 19:00:00 GMT
  - request:
      method: post
      uri: "<MHV_UHD_HOST>/v1/medicalrecords/imaging-studies?patientId=1234567890V012345&startDate=2024-01-01&endDate=2025-05-31"
      body:
        encoding: UTF-8
        string: '{"siteIds":["453","200CRNR"]}'
      headers:
        Authorization:
          - Bearer test-access-token-12345
        X-Api-Key:
          - test-api-key
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |
          {
              "resourceType": "Bundle",
              "entry": [
                  {
                      "resource": {
                          "resourceType": "ImagingStudy",
                          "id": "urn-vastudy-453-2487450-1234567890V012345",
                          "identifier": [
                              {
                                  "use": "usual",
                                  "system": "urn:oid:2.16.840.1.113883.4.349",
                                  "value": "urn:vastudy:453-2487450-1234567890V012345"
                              },
                              {
                                  "system": "urn:oid:2.16.840.1.113883.3.42.10012.100001.207",
                                  "value": "453-2487450"
                              }
                          ],
                          "status": "available",
                          "modality": [
                              {
                                  "system": "http://dicom.nema.org/resources/ontology/DCM",
                                  "code": "DX"
                              }
                          ],
                          "subject": {
                              "reference": "Patient/1234567890V012345"
                          },
                          "started": "2024-04-04T21:03:00+00:00",
                          "numberOfSeries": 4,
                          "numberOfInstances": 4,
                          "description": "KNEE 4 OR MORE VIEWS (LEFT)",
                          "series": [
                              {
                                  "number": 1,
                                  "modality": {
                                      "system": "http://dicom.nema.org/resources/ontology/DCM",
                                      "code": "DX"
                                  },
                                  "instance": [
                                      {
                                          "extension": [
                                              {
                                                  "url": "http://hl7.org/fhir/StructureDefinition/imagingstudy-instance-uid",
                                                  "valueString": "urn:vaimage:453-2487450-1234567890V012345-1"
                                              }
                                          ],
                                          "sopClass": {
                                              "system": "http://dicom.nema.org/resources/ontology/DCM"
                                          },
                                          "number": 0,
                                          "title": "DX"
                                      }
                                  ]
                              }
                          ]
                      }
                  },
                  {
                      "resource": {
                          "resourceType": "ImagingStudy",
                          "id": "urn-vastudy-453-2487448-1234567890V012345",
                          "identifier": [
                              {
                                  "use": "usual"[...]
